/escape-core/src/main/resources/properties/env.properties
/escape-admin/src/main/resources/properties/env.properties
/escape-consumer/src/main/resources/properties/env.properties
/escape-manager/src/main/resources/properties/env.properties
/escape-follow/src/main/resources/properties/env.properties
/escape-reservation/src/main/resources/properties/env.properties
/escape-review/src/main/resources/properties/env.properties
/escape-search/src/main/resources/properties/env.properties
/escape-store/src/main/resources/properties/env.properties
/escape-payment/src/main/resources/properties/env.properties

HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
.env
